<div class="users-container">
  <div class="toolbar">
    <h1>Manage Users</h1>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="onAddUser()">
        <mat-icon>add</mat-icon> Add User
      </button>
      <button mat-raised-button color="accent" (click)="onGenerateLink()">
        <mat-icon>link</mat-icon> Generate Fill Details Link
      </button>
    </div>
  </div>

  <app-user-search-filter
    [users]="users"
    (filterChange)="onSearchFilterChange($event)"
  ></app-user-search-filter>
  <app-user-list
    [users]="filteredUsers"
    [totalCount]="totalCount"
    (loadUsers)="onPageChange($event)"
  ></app-user-list>
</div>
